{% extends 'layout/base.html' %}

{% block title %}Create a Zone{% endblock %}

{% block content %}
  <div class="container-fluid p-5 bg-success text-white text-center">
    <form method="POST" action=".">
        {% csrf_token %}
        <div class="mb-3">
          <label for="exampleFormControlInput1" class="form-label"><strong>Zip Code</strong></label>
          <input id="zipcode" name="zip_code" class="form-control" data-zipcode-url="{% url 'zipcode-lookup' %}" oninput="zipCodeLookup()" type="text" title="Five digit zip code" />
        </div>
        <div id="myData"></div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"><strong>How bad is it?</strong></label>
          <select name="level_of_litter" class="form-select" aria-label="Default select example">
            <option selected value="1">Not too bad</option>
            <option value="2">Kind of gross</option>
            <option value="3">This place needs some work</option>
            <option value="4">Dear Lord please help</option>
            <option value="5">Trashpocalypse</option>

          </select>
        </div>
        <input class="btn btn-md btn-light" type="submit" value="Create Zone">
    </form>
  </div>
  <div class="container-fluid mt-5">
    <a href="/" type="button" class="btn btn-md btn-success">Go Home</a>
  </div>
{% endblock %}
